<div class="mt-5">
  <div class="container mt-5">
    <div class="row col-12">
      <div class="col" *ngFor="let data of tilesData">
        <dashboard-tile [color]="data.color">
          <img card-icon [src]="data.icon" alt="icon" width="60" height="80" />
          <p card-text>{{ data.text }}</p>
          <p card-value>{{ data.value }}</p>
        </dashboard-tile>
      </div>
    </div>
    <div class="row col-12 mt-4">
      <div class="col">
        <dashboard-card title="All Ongoing Tasks">
          <dashboard-table
            card-body
            [headers]="tableHeaders"
            [data]="tableData"
          >
          </dashboard-table>
        </dashboard-card>
      </div>
      <div class="col">
        <dashboard-card title="Monthly Task Activities (For Month of June)"
          ><dashboard-line-chart
            card-body
            [labels]="chartLabels"
            [datasets]="datasets"
          ></dashboard-line-chart
        ></dashboard-card>
      </div>
    </div>
  </div>
</div>
